<!DOCTYPE html>
<html>
<head>
    <title>My blogpost</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="opacity">
    <div>
        <h1 class="center"> Welcome back! Do you want to share some thoughts today?</h1>
        <form action="/main" method="get">
            <button class='addbutton' type="submit">Add post</button>
        </form>
    </div>
</body>
</html>